body {
	margin: 0px; 
	padding: 0px; 
	/*background photo by Max Pixel via Creative Commons - link not required */
	background-image: url('assets/page-background.png');
	background-color: #18273d; 
	background-attachment: fixed;
	background-size: cover;
	
}

div {
	background-repeat: no-repeat;
}

h1, a {
	color:slategray;
	text-decoration: none;
}

/* style h1 tags */
h1 {
	font-size: 56px; 
	font-family: proxima-nova;
}
			
h3 {
	margin: 0%;
	line-height: 150%;
	color: #a8b3be;
	font-family: proxima-nova;
}

h5 {
	margin: 0%;
	float: right;
	font-family: Arial;  
	color: slategray;
}

table {
	border: 0px;
	border-spacing: 0px;
	table-layout: fixed;
	cellpadding="20px";
	color: darkslategray;
	font-family: proxima-nova;
	width: 100%;
}

.heading {
	height: 550px; 
	background-size: cover;
	background-image: url('assets/background.png'); 
	background-position: center bottom;
	padding: 30px 30px 30px 30px;
	font-family: proxima-nova;
}

.heading-text {
        position:absolute;                 
        bottom:25%;                         
        right:10%;     
	text-align: center;
	color: #49697a;
}
			
.title {
	margin: 0%;
	float: left;
	font-size: 35px;
}

/* format nav bar at heading */
.contents a {
	border: 1px solid #18273d;
	padding: 10px 18px 10px 18px;
	margin: 2px;
}

.contents a:hover {
	border: 1px solid white;
}

/* Animation to fade info into heading */
.fade-in {
  	display: inline-block;
  	color: slategray;
  	animation: fadeIn linear 3s;
  	-webkit-animation: fadeIn linear 3s;
  	-moz-animation: fadeIn linear 3s;
  	-o-animation: fadeIn linear 3s;
  	-ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity:1;}
}

/* Animation to slide info into heading */
.slide-in {
	width: 95%;
	position: absolute;
	animation-name: slide-in;
	animation-duration: 3s;
}

@keyframes slide-in {
	from {
	margin-top: -15%;
	}
	to {
	margin-top: 0%;
	}
}

.education {
	padding: 40px 180px 60px 180px; 
	text-align:center;
	background-color: #a3cee3; 
	font-family: proxima-nova;
}

.backgroundInfo {
	vertical-align: top; 
	font-family: proxima-nova;
	padding-right: 30px; 
	padding-left: 30px; 
	background-color: #fbf0e1;
}

.infoText {
	font-size: 25px;
	line-height: 150%; 
	color: steelblue;
}

/* fade in sections of page when you scroll */
.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

#contact {
	text-align: center;
	margin-top: 90px;
}

#number {
	text-align: center;
	font-weight: bold;
	font-size: 65px; 
	color: #B1C1F2; 
	font-family: Georgia;
}

#background {
	border-spacing: 10px;
 	cellspacing: 0px;
}


#profile {
	font-size:0; 
	background-color: #9BA4C9;
}

#profile img {
	border: 0px;
	width: 90%;
	display: block;
}

#edu-info {
	font-size:25px;
	line-height: 150%;
	color:#B1C1F2;
}


#education {
	color:#9BA4C9;
}

#hobbies {
	margin-left: auto; 
	margin-right: auto;
	font-size: 25px; 
	margin-bottom: 50px;
	width: 80%;
}

#hobbies-title {
	margin-top: 90px;
	text-align: center;
}

#links {
	width: 100%;
	background-color: #9aabd2; 
	font-size: 10px;
}

#links img {
	width:300px; 
	height: 220px;
	border: 4px solid white;
  	box-shadow: 2px 2px 9px #6c6a6a;
}

#links-title {
	font-size: 20px;
}
